
.solution-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    .solution-container {
      grid-template-columns: 1fr;
    }
  }
 
.solution-heading{
  margin-top: 55px;
  background-color: grey;
  height: 50px;
  padding: 7px;
}