.navbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  background-color: #0B7BBC;
  z-index: 1000;
  height: auto;
}

.navbar-nav {
  margin-left: 250px;
}

.nav-item a {
  color: white;
}

.container-fluid a {
  color: white;
}

.container-fluid a:hover {
  color: black;
}

.navbar-toggler {
  border: 1px solid white;
  background-color: #0B7BBC;
  border-radius: 5px;
  padding: 5px;
}

.navbar-toggler-icon {
  background-image: none;
}

.navbar-toggler::before,
.navbar-toggler::after,
.navbar-toggler .line-3 {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background-color: white;
  margin: 5px auto;
}
